
<%= form_for(@product) do |f| %>

<table>
  <tr>
  
  <div class="field">
      <td><%= f.label :name %><br /></td>
      <td><%= f.text_field :name %></td>
  </div>

  </tr>

  <tr>
  
  <div class="field">
    <td>  <%= f.label :description %><br /> </td>
    <td>  <%= f.text_area :description %> </td>
  </div>

  </tr>

  <tr>

  <div class="field">
    <td>  <%= f.label :price_in_cents %><br />  </td>
    <td>  <%= f.number_field :price_in_cents %> </td>
  </div>
  </tr>

  <tr>
    <td> <div class="actions"> </td>
    <td>  <%= f.submit %> </td>
  </div>
  </tr>

<% end %>

</table>

<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 
  <% end %>
