<h1><center>Total number of Products (<%= @products.length %>)</center></h1>

<div id="nav">
  
  <div class="container">
    <ul class="pull-left">
          <li><a href="#">About</a></li>
          <li><a href="#">Browse</a></li>

<li><%= link_to "New Product", "/products/new" %></li>

    </ul>
  </div>
 </div>

  <div id="show">
  <div class="container">

<p>

<% @products.each do |product| %>

<%= link_to "Show Product","/products/#{product.id}" %> 

  <p> Product name: <%= product.name %>, Product description: <%= product.description %>, Product price: <%= product.formatted_price %> </p>


</p>

</div>
</div>
<% end %>


<footer>
  
  <p>Find me in app/views/products/index.html.erb</p>

</footer>